/* * {
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

body {
  margin: 0;
  padding: 0;
  --header-height: 50vh;
  /* background-image: radial-gradient(transparent, black);
  background-repeat: no-repeat; */
}

.site {
  width: 95vw;
  margin-left: 2.5vw;
  padding-bottom: 5vh;
}

.logo {
  position: absolute;
  width: 5rem;
}

.logo:hover {
  background-color: rgba(200, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.recipeHeader {
  display: flex;
  flex-direction: column;
  height: var(--header-height);
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw calc(var(--header-height) * 0.83);
  padding-top: 0.4rem;
  border-bottom: 2px solid black;
}

.text {
  font-size: 1.2rem;
  text-shadow: 1px 1px grey, -1px -1px rgba(255, 255, 255, 0.289);
}

.big {
  font-size: 1.7rem;
  font-weight: bold;
}

.titleHolder {
  margin-left: 5rem;
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: underline;
}

.appendix {
  font-size: 1rem;
  font-weight: lighter;
}

.recipeMetaData {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.difficultyManager {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficultyHolder {
  display: flex;
  gap: 0rem;
  align-items: center;
}

.difficultyIcon.active {
  background-image: radial-gradient(black, transparent);
  background-repeat: no-repeat;
  background-size: 100% 90%;
}

.difficultyIcon.inactive {
  opacity: 0.7;
}

.difficultyIconImage {
  margin-top: 0.3rem;
  height: 2rem;
}

.recipeDescription {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}
